* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.dashboard-content-container {
    height: 100vh;
    background-color: #ececec;
    border-radius: 50px 0 0 0;
    position: relative;
}

.profilePic-container {
    border: 1px solid rgb(182, 182, 182);
    height: 50vh;
}

.profilePic {
    border: 1px solid black;
    width: 70% !important;
    padding-top: 70% !important;
    position: relative;
}

.pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.adminName p {
    margin: 0
}

.admin-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.profileIdentity-container {
    border: 1px solid rgb(182, 182, 182);
}

.form-subTitle {
    font-size: 1.2rem;
    font-weight: bold;
}