* {
    box-sizing: border-box;
}

.dashboard-content-container {
    background-color: #ececec;
    border-radius: 50px 0 0 0;
    position: relative;
}

.report-donatur-container {
    height: 100vh;
    overflow: auto;
}

.table-donatur {
    font-family: 'Montserrat', sans-serif;
}

/* .table-donatur thead {
    position: fixed;
    top: 0;
    display: none;
} */

.table-content-center {
    text-align: center;
}

.table-action {
    width: 50%;
    display: flex;
    justify-content: space-between;
}