* {
    box-sizing: border-box;
}

.sidebar-container {
    /* border: 1px solid #ffffff; */
    height: 100vh;
    position: relative;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.logo-container {
    font-weight: bold;
    font-size: 1.5rem;
}

.account-nav {
    width: 100%;
    margin-top: 50px;
    /* display: flex; */
    align-items: center;
}

.dropdown-account-container {
    background-color: #9fd3c7;
    /* border-radius: 60%; */
    /* width: 50px;
    height: 50px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.dropdown-trigger {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.dropdown-trigger:hover {
    text-decoration: none;
    color: #9fd3c7;
}

.menu-container {
    width: 100%;
    margin-top: 50px;
}

.menu-container ul {
    /* border: 1px solid black; */
    list-style: none;
    padding: 0;
}

.menu-container ul li {
    /* border: 1px solid black; */
    margin-bottom: 25px;
}

.menu-container ul li a {
    /* border: 1px solid black; */
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-container ul li a:hover {
    color: #9fd3c7;
}